---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/heading.astro';
---

<Layout title="Welcome to my blog.">
	<main class="max-w-2xl mx-auto ">
		<div class="mt-20">
			<!-- <Heading title="(ABOUT ME)" /> -->
			<h2 class="text-sm">(about me)</h2>
			<p class="text-slate-600/80 leading-relaxed mt-4 text-sm">
				I'm a Frontend developer with a real love for crafting digital experiences. Professionally, I've been immersed in web and mobile development since 2020, diving deep into technologies like Typescript, React.js, Next.js, React Native, and Node.js.
			</p>
		</div>
		<div class="mt-8">
			<!-- <Heading title="(Reach out)" /> -->
			<h2 class="text-sm">(contact)</h2>
			<li class="flex items-center gap-x-4 text-slate-600/80 mt-4 text-sm">
				<a 
					href="https://twitter.com/rbpolim" 
					class="underline hover:text-emerald-600"
				>
					Twitter
				</a>
				<a 
					href="https://github.com/rbpolim" 
					class="underline hover:text-emerald-600"
				>
					Github
				</a>
				<a 
					href="https://linkedin.com/in/rbpolim" 
					class="underline hover:text-emerald-600"
				>
					LinkedIn
				</a>
			</li>
		</div>
	</main>
</Layout>